/*Font de goole */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap');
/*variables reutilizables */
:root {
    --color-background: #B2B2B2;
    --border-color: #860C0C;
    --nav-letras: #0C1248;
    --nav-background: #FFFFFF;
    --H1-color: #860C0C;
    --H2-color: #FFF;
    --P-color: #000;
    --H1-size: 30px;
    --H2-size: 25px;
    --P-size: 18px;
    --H-size: 20px;
    --hover-backgroung: #D03737;
    --hover-letras-color: black;
    --badge-color: #860C0C;
}
/* Reseteo de estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image:url(../img/pexels-eva-bronzini-7599590.jpg);
    height: 100vh;
}
@import "../scss/_components/navbar";
@import "../scss/_components/footer";
@import "../scss/_pages/contacto";
@import "../scss/_pages/galeria";
@import "../scss/_pages//index";
@import "../scss/_pages/informacion";
@import "../scss/_pages/servicios";