.galeria_carousel {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    height: 50%;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        font-size: 2rem;
    }
    .muestra .carousel-item img {
        max-height: 80vh;
        width: auto;
        border-radius: 10px;
    }
    .carousel-item {
        position: relative;
    }
    .fw-bold {
        position: absolute;
        text-align: center;
        padding: 10px;
        background-color: var(--badge-color);
    }
    @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}
main {
    @media (max-width: 576px) {
        min-height: 50vh;
    }
    .indicadores {
        display: none;
    }
    .muestra .fw-bold {
        position: absolute;
        text-align: center;
        padding: 10px;
        min-height: auto;
        justify-content: center;
    }
}
.footer {
    &.footer {
        margin-top: auto;
    }
}
